<div class="{{ css_classes }} wcml_currency_switcher" >
	<ul>
		{% for currency in currencies %}
			<li rel="{{ currency }}" class="wcml-cs-item{% if( currency == selected_currency) %} wcml-cs-active-currency{%- endif -%}" >
				<a>{{ get_formatted_price( currency, format )|raw }}</a>
			</li>
		{% endfor %}
	</ul>
</div>