{% include 'plugins-status.twig' with plugins_status %}

{% include 'conf-warn.twig' with conf_warnings %}

{% include 'store-pages.twig' with store_page %}

{% include 'taxonomies.twig' with taxonomies %}

<a class="alignright wpml-margin-top-sm" href="{{ troubl_url }}">
    {{ strings.troubl }}
</a>