{
  "presets": [
    ["env", {
      "useBuiltIns": true
    }],
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["import", {
      "libraryName" : "antd",
      "style" : true
    }]
  ]
}
