---
variables:
    # Configure mysql service (https://hub.docker.com/_/mysql/)
    WORDPRESS_DB_NAME: wp_test_db
    WORDPRESS_DB_USER: root
    MYSQL_ROOT_PASSWORD: mysql_strong_password
    MYSQL_HOST: localhost
    REAL_MYSQL_HOST: mysql

stages:
    - pre-flight
    - quality
    - test
    - build
    - documentation
    - deploy

include:
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/root.before_script.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/pre-flight/prepare-cache.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/quality/php/compatibility.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/quality/php/duplication.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/test/unit/php.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/test/integration/php.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/build/branch.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/build/protected-branches.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/build/special-branches.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/build/tag.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/documentation/release-notes.yml'
    -   project: 'wpml/wpml-plugin-template'
        file: '.gitlab-ci/deploy/s3.yml'
