# Exclusions

## Directories

__MACOSX

.sass-cache
tags

/embedded/
/build/vendor/
/tests/phpunit/vendor/
vendor/**
node_modules

/build/dist
%{TEMP}

tests/vendor
tests/wordpress-tests-lib
tests/wordpress

### The following are created during the build project
/sitepress-multilingual-cms
/wpml-translation-management
/wpml-string-translation
/wpml-sticky-links
/wpml-media-translation
/wpml-cms-nav
/gravityforms-multilingual
/woocommerce-multilingual

## Files

Thumbs.db
/tests/compatibility/*.txt
.DS_Store

inc/sandbox.inc
*.sh
build.xml
*.komodoproject

### The following are created during the build project
/sitepress-multilingual-cms.zip
/wpml-translation-management.zip
/wpml-string-translation.zip
/wpml-sticky-links.zip
/wpml-media-translation.zip
/wpml-cms-nav.zip
/gravityforms-multilingual.zip
/woocommerce-multilingual.zip


# Exceptions

## Directories

!tests/js/vendor

## Files

!/tests/*.sh

!tests/install-wp-tests.sh

!/tests/compatibility/run.sh
