parameters:
  level: 3
  featureToggles:
    disableRuntimeReflectionProvider: true
  bootstrapFiles:
    - tests/phpstan/bootstrap.php

    - tests/phpstan/stubs/psr.stub
    - tests/phpstan/stubs/wp-cli.stub
    - tests/phpstan/stubs/woocommerce-manual.stub
    - tests/phpstan/stubs/woocommerce.stub

    - tests/phpstan/stubs/twig.stub

    - tests/phpstan/stubs/otgs-ui.stub

    - tests/phpstan/stubs/wpml-vendor.stub
    - tests/phpstan/stubs/wpml-core.stub
    - tests/phpstan/stubs/wpml-container-functions.stub

    - tests/phpstan/stubs/page-builders-manual.stub
    - tests/phpstan/stubs/page-builders.stub
    - tests/phpstan/stubs/wpml-st.stub
    - tests/phpstan/stubs/wpml-media.stub

    - tests/phpstan/stubs/compatibility.stub
    - addons/wpml-dependencies/vendor/autoload.php

  paths:
    - classes
    - compatibility
    - inc
    - templates
    - wpml-woocommerce.php

  scanDirectories:
    - vendor/otgs/installer

  universalObjectCratesClasses:
    - wpdb
    - WC_Shipping_Rate
    - WC_Session
    - WC_Email_Customer_Completed_Order
    - WC_Payment_Gateway

  checkFunctionNameCase: true
  inferPrivatePropertyTypeFromConstructor: true

  ignoreErrors:
    # Uses func_get_args()
    - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'

  parallel:
    processTimeout: 300.0
