@import "mixins";
@import "variables";

.wcml_content_tr {
  width: 100%;
}

.mce_editor {
  display: inline-block;
  margin: $margin-xs $margin-sm 0;
  vertical-align: middle;
}
.wpml-form-row {
  .cleditorMain {
	width: calc(35% - 30px - 40px );
  }
  .mce_editor {
	width: calc(55% - 30px - 80px);
  }

}

.wcml-row-excerpt {
  .original_value {
	width: calc(40% - 30px - 40px );
  }
  .mce_editor{
	width: calc(60% - 30px - 40px );
  }
}
.wcml-row-purchase-note {
  .original_value {
	width: calc(40% - 30px - 40px );
  }
  .translated_value{
	width: calc(60% - 30px - 40px );
  }
}

table.wcml-attr-table {
  border: none;
  width: 98%;
  margin: 0 auto;
  th {
	text-align: left;
	font-weight: normal;
  }
  td:first-child {
	padding-left: $margin-sm;
  }
  td:last-child {
	padding-right: $margin-sm;
  }
  td[rowspan] {
	padding-bottom: $margin-sm;
	padding-top: $margin-sm;
  }
  input:not([type="submit"]):not([type="button"]) {
	width: calc(100% - 30px);
	margin-top: 0;
	margin-bottom: 0;
  }
  @at-root {
	.wcml-first-row {
	  td, th {
		padding-top: $margin-sm;
		border-top: 1px solid #eee;
	  }
	  &:first-child {
		td, th {
		  border-top: none;
		}
	  }
	}

	.wcml-last-row {
	  td, th {
		padding-bottom: $margin-sm
	  }
	}

	.wcml-product-image-cell {
	  width: 115px;
	}

	.button-copy-cell {
	  text-align: center;
	  vertical-align: middle;
	}
  }
}