<div class="{{ css_classes }} wcml_currency_switcher" >
	<ul>
		{% for currency in currencies %}
			<li rel="{{ currency }}" {% if( currency == selected_currency) %} class="wcml-cs-active-currency" {% endif %} >
				<a>{{ get_formatted_price( currency, format )|raw }}</a>
			</li>
		{% endfor %}
	</ul>
</div>