<div id="wcml-setup-wizard" class="updated message wpml-message">
    <p><strong>{{ text.prepare }}</strong></p>
    <p>{{ text.help|raw }}</p>
    <p class="submit">
        <a href="{{ setup_url }}"
           class="button-primary">{{ text.start }}</a>
    </p>
</div>
