<div id="wcml-setup-wizard" class="wcml-banner">
    <p>{{ text.prepare }}</p>
    <p>{{ text.help|raw }}</p>
    <div class="submit">
        <a href="{{ setup_url }}"
           class="button-primary">{{ text.start }}</a>
    </div>
</div>
